<div class="articleList">

    <article>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolore, ea fugiat illo, illum ipsa labore
        laborum laudantium libero minima, necessitatibus nemo nobis quas quia reprehenderit sit voluptates. Aliquam,
        dolore?
    </article>
    <article>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolore, ea fugiat illo, illum ipsa labore
        laborum laudantium libero minima, necessitatibus nemo nobis quas quia reprehenderit sit voluptates. Aliquam,
        dolore?
    </article>
    <article>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolore, ea fugiat illo, illum ipsa labore
        laborum laudantium libero minima, necessitatibus nemo nobis quas quia reprehenderit sit voluptates. Aliquam,
        dolore?
    </article>
    <article>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolore, ea fugiat illo, illum ipsa labore
        laborum laudantium libero minima, necessitatibus nemo nobis quas quia reprehenderit sit voluptates. Aliquam,
        dolore?
    </article>
    <article>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolore, ea fugiat illo, illum ipsa labore
        laborum laudantium libero minima, necessitatibus nemo nobis quas quia reprehenderit sit voluptates. Aliquam,
        dolore?
    </article>
    <article>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolore, ea fugiat illo, illum ipsa labore
        laborum laudantium libero minima, necessitatibus nemo nobis quas quia reprehenderit sit voluptates. Aliquam,
        dolore?
    </article>
    <article>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolore, ea fugiat illo, illum ipsa labore
        laborum laudantium libero minima, necessitatibus nemo nobis quas quia reprehenderit sit voluptates. Aliquam,
        dolore?
    </article>
    <article>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolore, ea fugiat illo, illum ipsa labore
        laborum laudantium libero minima, necessitatibus nemo nobis quas quia reprehenderit sit voluptates. Aliquam,
        dolore?
    </article>

</div>