<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://s3.eu-central-1.amazonaws.com/alertease/assets/favicon.ico">
    <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">

    <title>{{title}}</title>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>







    <!--external js-->

    <script src="./javascripts/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="./javascripts/rxjs.js"></script>
    <script src="./javascripts/main.js"></script>


</head>
<body>









        {{{body}}}






</body>
</html>