body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container{
  max-width: 960px;
  margin:0 auto;
}
.borderTop{
  border-top: 1px solid #d5d5d5 !important;
}

.borderBottom{
  border-bottom: 1px solid #d5d5d5 !important;
}

nav{
  padding-bottom: 10px;
}

.hero{
  background-image: url('https://zapier.cachefly.net/storage/blog/2178ac9ff5fbc01c328dfe7347f4ad84.1800x1000.jpg');
  height: 192px;
  position: relative;
  background-position: 68% 75%;
  background-repeat: no-repeat;
  margin-top: 4px;
  background-size: inherit;
}


.articleList{
  padding: 20px 0px 20px 0px;
}

article{
  display: block;
  margin: 20px;
}